@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}


body {
    margin-bottom: 60px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.hero {
    padding: 50px 0;
    color: #fff;
}

    .hero h1 {
        color: black;
        font-size: 3rem;
        margin-bottom: 10px;
        background: black -webkit-text-fill-color: transparent;
    }

    .hero p {
        color: black;
        font-size: 1.5rem;
    }

.card-advice {
    margin: 50px auto;
    max-width: 800px;
    display: flex;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
}

    .card-advice .card-image {
        flex: 1;
        background: linear-gradient(135deg, #FDC830, #F37335);
    }

    .card-advice .card-content {
        flex: 2;
        padding: 30px;
        text-align: left;
    }

        .card-advice .card-content h5 {
            margin-bottom: 20px;
            font-size: 1.5rem;
        }

        .card-advice .card-content p {
            font-size: 1.2rem;
            line-height: 1.5;
        }

        .card-advice .card-content .read-more {
            margin-top: 20px;
            padding: 10px 20px;
            border-radius: 5px;
            color: #fff;
            background: linear-gradient(135deg, #FF512F, #DD2476);
            text-decoration: none;
            display: inline-block;
        }

.functions {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.function-card {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    max-width: 300px;
    transition: transform 0.2s;
}

    .function-card:hover {
        transform: scale(1.05);
    }

    .function-card img {
        max-width: 50px;
        margin-bottom: 15px;
    }

    .function-card h5 {
        margin-bottom: 15px;
        font-size: 1.2rem;
    }

    .function-card p {
        font-size: 1rem;
        margin-bottom: 20px;
    }

    .function-card a {
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
        color: #fff;
        background: linear-gradient(135deg, #FF512F, #DD2476);
        transition: background 0.3s;
    }

        .function-card a:hover {
            background: linear-gradient(135deg, #DD2476, #FF512F);
        }